<div class="mt-5 carousel-Home">
    <div class="mt-2 container-fluid">
        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators" id="carouselIndicators"></div>
            <div class="carousel-inner" id="carouselInner"></div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="serch-product">
        <form class="d-flex" role="search">
            <input id="searchInput" class="form-control me-2" type="search" placeholder="Search Product"
                aria-label="Search">
        </form>
    </div>
    <h1 class="product mt-2">Products</h1>
    <div class="container" id="searchProduct"></div>

    <div id="defaultProducts" class="product-card container d-flex flex-wrap">
        <% allProducts.slice(0, 6).forEach((product)=> { %>
            <div class="card" style="width: 18rem;">
                <img src="<%= product.thumbnail %>" style="height: 12rem;" class="card-img-top"
                    alt="<%= product.title %>">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= product.title %>
                    </h5>
                    <p class="card-text">
                        <% const description=product.description; if (description.length> 60) { %>
                            <%= description.substring(0, 60) %>...
                                <% } else { %>
                                    <%= description %>
                                        <% } %>
                    </p>
                    <p class="card-text card-price">Price: $<%= product.price.toFixed(2) %>
                    </p>
                    <!-- <a href="#" class="btn btn-success" data-product-id="<%= product.id %>">Buy +1 </a> -->
                    <a href="#" class="btn btn-primary"
                        style="background-color: #fd5c63; border-color: #fd5c63; color: #ffffff;"
                        data-product-id="<%= product.id %>">Add to Cart</a>

                </div>
            </div>
            <% }); %>
    </div>



    <div class="container px-4 py-5" id="custom-cards">
        <h2 class=" pb-2 border-bottom text-center">About Us</h2>


        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                    style="background-image: url('https://source.unsplash.com/1200x650/?laptop');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Explore electronics selection,
                            featuring the latest smartphones, laptops, tablets, and more</h3>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <img src="https://img.freepik.com/free-vector/ecommerce-web-page-concept-illustration_114360-8204.jpg?w=740&t=st=1712855352~exp=1712855952~hmac=7f0a394b3790a037cc2ed9a9810f79a746fb819a9e7f463329931d59918cf051"
                                    alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#geo-fill"></use>
                                </svg>
                                <small>Earth</small>
                            </li>
                            <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#calendar3"></use>
                                </svg>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                    style="background-image: url('https://source.unsplash.com/1200x650/?fashion');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Much longer fashion that wraps to multiple
                            lines
                        </h3>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <img src="https://img.freepik.com/free-vector/ecommerce-web-page-concept-illustration_114360-8204.jpg?w=740&t=st=1712855352~exp=1712855952~hmac=7f0a394b3790a037cc2ed9a9810f79a746fb819a9e7f463329931d59918cf051"
                                    alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#geo-fill"></use>
                                </svg>
                                <small>India</small>
                            </li>
                            <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#calendar3"></use>
                                </svg>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                    style="background-image: url('https://source.unsplash.com/1200x650/?sports');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Stay active and adventurous with our sports
                        </h3>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <img src="https://img.freepik.com/free-vector/ecommerce-web-page-concept-illustration_114360-8204.jpg?w=740&t=st=1712855352~exp=1712855952~hmac=7f0a394b3790a037cc2ed9a9810f79a746fb819a9e7f463329931d59918cf051"
                                    alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#geo-fill"></use>
                                </svg>
                                <small>World</small>
                            </li>
                            <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#calendar3"></use>
                                </svg>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="https://source.unsplash.com/1200x650/?project" class="d-block mx-lg-auto img-fluid"
                    alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">E-commerce Store</h1>
                <p class="lead">Welcome to E-commerce Store, where we believe in providing an exceptional online
                    shopping experience for every customer. Founded [year of founding], we've been dedicated to offering
                    high-quality products, excellent customer service, and convenient shopping solutions to our valued
                    customers worldwide.</p>



                <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button> -->
            </div>
        </div>
    </div>
</div>