<body class="mt-5 carousel-Home">
    <div class="mt-2 container">
        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators" id="carouselIndicators"></div>
            <div class="carousel-inner" id="carouselInner"></div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="serch-product">
        <form class="d-flex" role="search">
            <input id="searchInput" class="form-control me-2" type="search" placeholder="Search Product"
                aria-label="Search">
        </form>
    </div>
    <h1 class="product mt-2">Products</h1>
    <div id="searchProduct"></div>
    <div id="defaultProducts" class="product-card container d-flex flex-wrap">
        <% allProducts.slice(0, 6).forEach((product)=> { %>
            <div class="card" style="width: 18rem;">
                <img src="<%= product.thumbnail %>" style="height: 10rem;" class="card-img-top"
                    alt="<%= product.title %>">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= product.title %>
                    </h5>
                    <p class="card-text">
                        <%= product.description %>
                    </p>
                    <p class="card-text card-price">Price: $<%= product.price.toFixed(2) %>
                    </p>
                    <a href="#" class="btn btn-primary" data-product-id="<%= product.id %>"> Add to Cart</a>
                </div>
            </div>
            <% }); %>
    </div>


</body>